@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,100italic,400,400italic&subset=latin);

div.page-header p, div.page-footer p {
    font-family: "Raleway";
    font-size: 9pt;
}

body div.container {
   	width: 800px;
    background:#fefefe;
    counter-reset: figCounter;
    counter-reset: tblCounter;
    counter-reset: pageCounter;
}

div.page-header, div.page-footer {
    margin: 5px 0px;
    padding: 0px;
}

div.row h1.title {
    font-family: "Raleway";
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    margin: 5px 20px 10px 20px;
    padding: 0px;
}

div.row p, li {
    font-family: "Vollkorn";
    font-size: 10pt;
}

div.row ul {
    list-style-type: circle;
    padding-left:15px;
}

div.row ul, li { 
    padding-bottom:5px; }

div.row ol {
    list-style-type: decimal;
}

div.row h1 {
    font-family: "Raleway";
    font-size: 10pt;
    font-weight: bold;
    margin: 2px 0px 1px;
    padding: 3px 0px 2px;
}

figure {
    counter-increment: figCounter;
}

figure figcaption:before {
    content: 'Figure ' counter(figCounter) '. ';
}

div.row figure {
    margin: 2px 0px 2px;
    padding: 5px 0px 5px;
}

div.row figcaption {
    font-family: "Vollkorn";
    font-size: 10pt;
    color: #555;
}

div.row figure img {
    width: 100%;
}

table caption {
    counter-increment: tblCounter;
}

div.row table {
    border-collapse: collapse;
    font-family: "Raleway";
    font-size: 10pt;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.row table caption {
    caption-side: top;
    font-family: "Vollkorn";
}

table caption:before {
    content: 'Table ' counter(tblCounter) '. ';
}

div.row thead {
    border-top: 2px solid black;
    border-bottom: 1px solid black;
}

div.row tfoot {
    border-bottom: 2px solid black;
    border-top: 1px solid black;
}

div.row th {
    padding: 5px 3px 3px;
    vertical-align: bottom;
    position: relative;
}

div.row th.colspan {
    border-bottom: 1px solid #000;
}

div.row thead th.colspan:before, div.row thead th.colspan:after {
    content: '';
    position: absolute;
    bottom: -1px;
    width: 0.5em;
    border-bottom: 1px solid #fff;
}

div.row thead th.colspan::before {
    left: 0;
}

div.row thead th.colspan::after {
    right: 0;
}

div.row tbody {
    border-bottom: 1px solid black;
}

div.row tr.tsection {
    border-top: 1px solid black;
}

div.row tr.odd {
    background-color: #dddddd;
}

div.row td {
    vertical-align: top;
    padding: 2px 3px 2px;
}

img.rescale {
    width: 100%;
    height: auto;
}

abbr {
    font-size: 90%;
}

p {
    orphans: 2;
    widows: 2;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    overflow: break-word;
}

p.reviewcomment {
    color: red
}

blockquote {
  background: #f9f9f9;
  border-style: none;
  /*border-left: 10px solid #ccc;*/
  margin: 0.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.pullquote {
    float: right;
}

.pullquote p.quote:first-letter {
    font-size: 240%;
    font-weight: bold;
    float: left;
    line-height: 200%;
    margin: 0.21em 0.15em 0 0;
}

@media print {
    .text-left {
        text-align: left;
    }

    .text-right {
        text-align: right;
    }

    .text-center {
        text-align: center;
    }

    div.page-footer {
        content: counter(pageCounter)
    }
}

@page {
  size: letter;
  /*@bottom-center {
    margin: 10pt 0 30pt 0;
    border-top: .25pt solid #666;
    font-size: 9pt;
    color: #333;
    display: table-footer-group;
    content: counter(pageCounter);
  }*/
  h1, h2, h3, h4, h5 {
    page-break-after: avoid;
  }
  table, figure {
    page-break-inside: avoid;
  }
}

@page:after {
    counter-increment: pageCounter;
}

@media (min-width: 585px) {
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
float: left;
}

div.threecol {
  -webkit-column-count: 3;
  -webkit-column-gap: 3%; /* Saf3, Chrome*/
  -moz-column-count: 3;
  -moz-column-gap: 3%; /* FF3.5+ */
  column-count: 3;
  column-gap: 3%; /* Opera 11+*/
}

div.threecol p {
  line-height: auto;
}

.textbox {
    border-style: solid;
    border-color: rgba(180, 54, 52, 1);
    background-color: rgba(180, 54, 52, 0.2);
    border-width: thin;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 0.25em 0.45em 0 rgba(0,0,0,0.135);
}

.watermark {
    position: fixed;
    top: 400px;
    left: 700px;
    opacity: 0.33;
    z-index: 99;
    font-size: 500%;
    color: rgba(180, 54, 52, 1);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -sand-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
