@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic&subset=latin);
@import url(http://fonts.googleapis.com/css?family=Raleway:100,100italic,400,400italic&subset=latin);

html, body {
        padding:1em;
        margin:auto;
        max-width:50em;
        background:#fefefe;
	}
body {
	font: 13pt "Vollkorn", Palatino, Times;
	color: #333;
	line-height: 1.2;
	text-align: justify;
	}
header, nav, article, footer {
	width: 700px;
	margin:0 auto;
	}
article {
	margin-top: 4em;
	margin-bottom: 4em;
	min-height: 400px;
	}
footer {
	margin-bottom:50px;
	}
video {
	margin: 2em 0;
	border:1px solid #ddd;
	}

nav {
	font-size: .9em;
	font-style: italic;
	border-bottom: 1px solid #ddd;
	padding: 1em 0;
	}
nav p {
	margin: 0;
	}

/* Typography
-------------------------------------------------------- */
h1, h2, h3, h4, h5 {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 25px;
	margin-top: 2em;
	font-weight: normal;
	}
h2 {
    font-size: 20px;
	font-weight: normal;
    margin-top: 3em;
	}
h3 {
    font-size: 15px;
	font-weight: normal;
	font-style: italic;
	margin-top:3em;
	}
p {
	margin-top:0;
	-webkit-hypens:auto;
	-moz-hypens:auto;
	hyphens:auto;
	}
ul {
	list-style: square;
	padding-left:1.2em;
	}
ol {
	padding-left:1.2em;
	}
blockquote {
	margin-left: 1em;
	padding-left: 1em;
	border-left: 1px solid #ddd;
	}
code {
	font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
}
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background-color: #dddddd;
    display: block;
    padding: 0em 0em 0.5em 0.5em;
    border: 1px solid #bebab0;
}
pre code {
	font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
	font-size: 70%;
	}
a {
	color: #2484c1;
	text-decoration: none;
	}
a:hover {
	text-decoration: underline;
	}
a img {
	border:none;
	}
h1 a, h1 a:hover {
	color: #333;
	text-decoration: none;
	}
hr {
	color : #ddd;
	height : 1px;
	margin: 2em 0;
	border-top : solid 1px #ddd;
	border-bottom : none;
	border-left: 0;
	border-right: 0;
	}
p#heart{
	font-size: 2em;
	line-height: 1;
	text-align: center;
	color: #ccc;
	}
.red {
	color:#B50000;
	}
aside.notes {
    font-size: 75%;
	/* border-top: solid 3px #ddd; */
	/* border-bottom: solid 3px #ddd; */
    border: solid 3px #ddd;
    padding: 2em 3em 2em 3em;
    margin-top: 3em;
    margin-bottom: 3em;
    max-width: 40em;
    text-align: left;
}
table {
    border-collapse: collapse;
}
thead {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
th {
    padding-bottom: 10px;
}
tbody {
    border-bottom: 1px solid black;
}
tr.odd {
    background-color: #dddddd;
}
td {
    vertical-align: top;
    padding-top: 2px;
    padding-bottom: 2px;
}
/* Home Page
--------------------------- */

body#index li {
	margin-bottom: 1em;
	}


/* iPad
-------------------------------------------------------- */
@media only screen and (max-device-width: 1024px) {
body {
	font-size: 120%;
	line-height: 1.4;
	}
} /* @iPad */

/* iPhone
-------------------------------------------------------- */
@media only screen and (max-device-width: 480px) {
body {
	text-align: left;
	}
article, footer {
	width: auto;
	}
article {
	padding: 0 10px;
	}
} /* @iPhone */
