/* CSS mostly stolen from Andreas Mueller https://github.com/amueller/sklearn_tutorial.git */

.reveal {
  font-size: 20px;
}

.reveal .slides {
text-align: left;
font-size: 100%;
}

.reveal .slides pre code {
width: 100%;
padding: 5px;
font-size: 120%;
font-family: "Source Code Pro", monospace, sans-serif;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.reveal section img {
border: 0px solid black;
box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.reveal img.logo  {
    width: 20%;
}

div p.footer {
padding-top: .5em;
font-size: 50%;
clear: left;
}

.reveal .highlight-gray {
    color: #aaaaaa;
}

.reveal section.level1 {
    border-bottom: 1px solid gray;
}

.reveal section h1.title {
    font-size: 150%;
}

.reveal section h2.subtitle {
    font-size: 125%;
}

.reveal section h1 {
    margin-bottom: 0px;
    font-size: 125%;
}

.reveal section h2 {
    font-size: 150%;
}

.reveal section h3 {
    font-size: 110%;
}

.reveal section h4 {
padding-top: 1em;
}

.reveal table {
    border-collapse: collapse;
}

.reveal table thead tr th {
    vertical-align: bottom;
    padding: 5px 10px 5px 10px;
    border-width: 3px 0px 1.5px 0px;
    border-style: solid;
    border-color: gray;
}

.reveal table tfoot tr {
    vertical-align: top;
    padding: 5px 10px 5px 10px;
    border-width: 1.5px 0px 3px 0px;
    border-style: solid;
    border-color: gray;
}

.reveal table tbody tr.odd {
    background-color: #eeeeee;
}

.reveal table tbody tr td {
    vertical-align: top;
    padding: 3px 10px 3px 10px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: gray;
}

.reveal table tbody tr.section td {
    border-width: 1.5px 0px 0px 0px;
}

.reveal table caption {
    text-align: left;
    font-variant: small-caps;
    padding-bottom: 1em;
}

.reveal table thead th.colspan {
    border-bottom: 1px solid #000;
}

.reveal thead th.colspan::before, .reveal thead th.colspan::after {
    content: '';
    position: absolute;
    bottom: -1px;
    width: 0.5em;
    border-bottom: 1px solid #fff;
}

.reveal thead th.colspan::before {
    left: 0;
}

.reveal thead th.colspan::after {
    right: 0;
}
